@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.account {
  position: relative;
  padding-bottom: 45px;
  font-family: "Montserrat", sans-serif;

  .nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;

    .upper_nav {
      border-color: transparent;
      box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
      background: white;

      .logo {
        font-weight: 700;
        color: #000;
      }

      .upper_nav_svgs {
        .icon .cls-1,
        circle {
          fill: none;
          stroke: #000;
          stroke-miterlimit: 10;
          stroke-width: 4px;
        }
      }
    }
  }

  .accountWrapper {
    padding: 100px 20px;
    height: fit-content;
    display: grid;
    grid-gap: 20px;

    h3 {
      margin: 0 0 20px 0;
    }

    .clickoutsideModal {
      position: fixed;
      z-index: 9;
      top: 0;
      right: 0;
      height: 100vh;
      width: 0;
      opacity: 0.5;
      background-color: #000;
      padding-top: 100px;
    }

    .showclickoutsideModal {
      width: 100%;
    }

    .updateInfo_wrapper {
      display: none;
      position: fixed;
      width: 90%;
      padding: 20px;
      background: white;
      z-index: 10;
      border-radius: 8px;

      .top {
        display: flex;
        justify-content: space-between;

        h4 {
          margin: 0;
          padding: 4px 0 0;
        }

        svg {
          cursor: pointer;
        }

        .icon .cls-1,
        circle {
          fill: none;
          stroke: #000;
          stroke-miterlimit: 10;
          stroke-width: 4px;
        }
      }

      form {
        margin-top: 10px;

        .update_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: 100%;
          color: #fff;
          background: #6b21a8;
          padding: 11px 20px;
          font-size: 1em;
          outline: 0;
          font-weight: 700;
          letter-spacing: 0.025em;
          padding: 13px;
          height: 56px;
          border: 2px solid #f3f4f5;
          box-sizing: border-box;
          border-radius: 8px;
          font-family: 'Montserrat', sans-serif;
        }

        .updateInput {
          label {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            color: #000;
            clear: both;
            margin-bottom: .25em;
          }

          input {
            width: 100%;
            outline: 0;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            padding: 13px;
            height: 56px;
            border: 2px solid #f3f4f5;
            box-sizing: border-box;
            border-radius: 8px;
          }
        }
      }
    }

    .show_updateInfo_wrapper {
      display: block;
    }

    .order_review_modal {
      display: none;
      position: fixed;
      width: 90%;
      padding: 20px;
      background: white;
      z-index: 10;
      border-radius: 8px;

      .top {
        display: flex;
        justify-content: space-between;

        h4 {
          margin: 0;
          padding: 4px 0 0;
        }

        .icon .cls-1,
        circle {
          fill: none;
          stroke: #000;
          stroke-miterlimit: 10;
          stroke-width: 4px;
        }
      }

      .details {
        margin-top: 20px;
        font-size: 12px;

        .item {
          display: flex;
          justify-content: space-between;
        }
      }

      .product_details {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 60px 1fr 50px;

        .imgs {
          display: grid;
          place-items: center;

          .img_wrapper {
            width: 50px;
            height: 50px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .names_wrapper {
            display: grid;
            place-items: center;
            height: 50px;
            place-self: start;
            padding: 0 0 0 10px;
          }

          .qty_wrapper {
            height: 50px;
            display: grid;
            place-items: center;
          }
        }
      }
    }

    .showorder_review_modal {
      display: block;
    }

    .accountDetails {
      border: 1px solid #e3e3e3;
      padding: 10px 10px 60px;
      position: relative;
      border-radius: 8px;
      border-color: transparent;
      box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);

      .ww {
        position: relative;
        font-size: 14px;

        svg {
          position: relative;
          top: 5px;
          margin-right: 3px;
        }
      }

      .update_info {
        cursor: pointer;
        border: 2px solid #6b21a8;
        position: absolute;
        color: #6b21a8;
        right: 90px;
        bottom: 10px;
        font-size: 12px;
        padding: 8px 15px;
        border-radius: 12px;
        font-weight: 700;
      }

      .logout {
        font-weight: 700;
        border: 2px solid #d73a49;
        background: #d73a49;
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: white;
        padding: 8px 15px;
        font-size: 12px;
        outline: none;
        border-radius: 12px;
        cursor: pointer;

        i {
          margin-right: 5px;
          font-size: 15px;
        }
      }
    }

    .orderDetails {
      border: 1px solid #e3e3e3;
      padding: 10px 10px;
      position: relative;
      border-radius: 0;
      border-radius: 8px;
      height: fit-content;
      border-color: transparent;
      box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);

      .order_his_wrapper {
        font-size: 13px;
        display: grid;
        grid-gap: 15px;

        .order_specific {
          border: 2px solid transparent;
          position: relative;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15),
            0 1px 0 rgba(0, 0, 0, 0.02);

          i {
            position: absolute;
            right: 10px;
          }

          .stat {
            .abc {
              border: 1px solid #ffbb38;
              color: #ffbb38;
              padding: 1px 3px;
              border-radius: 4px;
              font-size: 12px;
            }

            .delivered {
              background: #6b21a8;
              border: 1px solid #6b21a8;
              color: white;
            }
          }

          .aa {
            margin-bottom: 5px;
          }

          .ab {
            margin-bottom: 0;
          }
        }

        .order_specific:hover {
          border-color: #6b21a8;
        }
      }
    }
  }
}

@media only screen and (min-width: 452px) {
  .account {
    position: relative;
    padding-bottom: 0;

    .nav {
      position: fixed;
      width: 100%;
      background-color: white;
      z-index: 5;

      .upper_nav {
        border-bottom: 1px solid #e8e8e1;

        .logo {
          font-weight: 700;
          color: #000;
        }

        .upper_nav_svgs {
          .cls-1,
          circle {
            fill: none;
            stroke: #000;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        }
      }
    }

    .accountWrapper {
      padding: 90px 20px;
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr;

      h2 {
        margin: 0 0 20px 0;
      }


      .updateInfo_wrapper {
        display: none;
        position: fixed;
        width: 500px;
        padding: 20px;
        background: white;
        z-index: 10;
        border-radius: 8px;
        left: 50%;
        margin-left: -250px;
      }

      .show_updateInfo_wrapper {
        display: block;
      }

      .order_review_modal {
        display: none;
        position: fixed;
        width: 500px;
        margin: auto;
        padding: 20px;
        background: white;
        z-index: 10;
        border-radius: 8px;
                left: 50%;
        margin-left: -250px;

        .top {
          svg {
            cursor: pointer;
          }
        }


      }

      .showorder_review_modal {
        display: block;
      }

      .accountDetails {
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        border: 1px solid #e3e3e3;
        padding: 20px 20px 80px;
        position: relative;
        border-radius: 6px;
        height: fit-content;
      }

      .orderDetails {
        max-width: 500px;
        grid-column-start: 1;
        grid-row-start: 1;
        border: 1px solid #e3e3e3;
        padding: 20px 20px 40px;
        position: relative;
        border-radius: 6px;

      }
    }
  }
}
