@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.admin_auth {
	font-family: 'Fredoka One', cursive;
	height: 100vh;
	padding-top: 80px;

	.Toastify__toast--success {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
		background: #6b21a8;
	}

	.Toastify__toast--error {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
	}

	.Toastify__toast-body {
		padding: 5px 15px;

	}


	.auth_form_container {
		width: 380px;
		margin: 0 auto;
		padding: 20px;
		font-size: 12px;

		img {
			width: 80%;
			margin: 0 auto 20px;
			display: flex;
			justify-content: center;
		}

		form {

			input {
				font-family: 'Montserrat', sans-serif;
				outline: 0;
				border-radius: 0;
				width: 100%;
			    max-width: 100%;
			    font-size: 16px;
			    outline: 0;
			    margin-bottom: 15px;
			    font-size: 14px;
			    font-weight: 300;
			    line-height: 20px;
			    padding: 13px;
			    height: 56px;
			    border: 2px solid #f3f4f5;
			    box-sizing: border-box;
			    border-radius: 8px;
			}

			.admin_auth_loginBtn {
				font-family: 'Montserrat', sans-serif;
				background: #6b21a8;
				color: white;
			}
		}
	}
}