@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




.admin_products {
	position: relative;
	width: 100%;
	font-family: 'Montserrat', sans-serif; 

	.Toastify__toast--success {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
		background: #6b21a8;
	}

	.Toastify__toast--error {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
	}

	.Toastify__toast-body {
		padding: 5px 15px;
	}

	.placeOrder_overlay {
	  position: fixed;
	  z-index: 19;
	  top: 0;
	  right: 0;
	  height: 100vh;
	  width: 0;
	  opacity: .5;
	  background-color: #000;
	  padding-top: 100px;
	}

	.showplaceOrder_overlay {
		width: 100%;
	}

	.update_product_modal {
		display: none;
		z-index: 21;
		position: fixed;
		width: calc(100% - 40px);
		margin:0 auto;
		top: 40px;
		left: 0;
		right: 0;
		height: fit-content;
		background: white;
		padding: 10px;
		border-radius: 8px;

		.update_head {
			display: flex;
			justify-content: space-between;
		}

		form {
			margin-top: 20px;

			.input_wrapper {
				display: grid;
				margin-bottom: 15px;

				label {
					margin-bottom: 5px;
				}

				input, textarea {
					outline: 0;
					width: 100%;
			    font-size: 16px;
			    outline: 0;
			    font-size: 14px;
			    font-weight: 300;
			    line-height: 20px;
			    padding: 13px;
			    height: 56px;
			    border: 2px solid #f3f4f5;
			    box-sizing: border-box;
			    border-radius: 8px;
			    font-family: 'Montserrat', sans-serif; 
				}

				.previewImg {
					width: 100%;
					margin: 10px auto 0;
				}
			}

			.addproduct_btn {
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				width: 100%;
				color: #fff;
				background: #6b21a8;
				padding: 11px 20px;
		    font-size: 1em;
		    outline: 0;
		    font-weight: 700;
    		letter-spacing: 0.025em;
    		margin-bottom: 10px;
    		padding: 13px;
		    height: 56px;
		    border: 2px solid #f3f4f5;
		    box-sizing: border-box;
		    border-radius: 8px;
		    font-family: 'Montserrat', sans-serif;
    		
			}
		}
	}

	.updateModalOpen {
		display: block;
	}


	.admin_headers {
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
		margin: 20px 0 10px;
		font-family: 'Montserrat', sans-serif;

		h3 {
			margin: 0;
			position: relative;
			top: 10px;
		}

		.addNew {
			cursor: pointer;
			border-radius: 3px;
			width: fit-content;
			color: black;
			padding: 5px 15px;
			box-shadow: 0 10px 40px -10px RGB(0 64 128 / 20%);
			position: relative;
			

			svg {
				padding-top: 3px;
			}

			span {
				position: relative;
				top: -4px;
			}
		}
	}

	.admin_products_wrapper {
		margin-top: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 10px;
		padding: 10px;

		.stateDB_msg {
			width: fit-content;
			margin: 40px auto;
		}


		.admin_product {
			box-shadow: 0 10px 10px -10px RGB(0 64 128 / 20%);
			display: grid;
			grid-template-columns: 130px 1fr;
			width: 100%;
			font-size: 14px;
			border-radius: 6px;
			grid-gap: 10px;
			padding: 10px;

			.p_details {
				padding: 10px;
				position: relative;
				display: grid;
				grid-gap: 0;
				font-size: 13px;

				.p_details_op {
					display: grid;
					grid-template-columns: 40px 40px;
					place-items: center;
					position: absolute;

					right: 0;
					bottom: 0;

					svg {
						cursor: pointer;
					}
					
				}
			}

			img {
				width: 120px;
				height: 120px;
			}
		}
	}

}


.admin_addproduct_modal {
		margin: 20px;
		background: white;
		height: fit-content;
		padding: 20px;
		border-radius: 11px;
		border-color: transparent;
    box-shadow: 0 1px 3px 0 RGB(27 36 72 / 16%), 0 6px 12px 0 RGB(27 36 72 / 8%);
		

		.Toastify__toast--success {
			width: 80%;
			position: absolute;
			right: 10px;
			top: 10px;
			padding: 5px;
			border-radius: 6px;
			background: #6b21a8;
		}

		.Toastify__toast--error {
			width: 80%;
			position: absolute;
			right: 10px;
			top: 10px;
			padding: 5px;
			border-radius: 6px;
		}

		.Toastify__toast-body {
			padding: 5px 15px;

		}

		h3 {
			font-family: 'Montserrat', sans-serif;
			margin: 0 0 20px 0;
		}


		form {

			.input_wrapper {
				display: grid;

				label {
					margin-bottom: 5px;
					font-family: 'Montserrat', sans-serif;
				}

				input, textarea {
					width: 100%;
			    outline: 0;
			    margin-bottom: 10px;
			    font-size: 14px;
			    font-weight: 300;
			    line-height: 20px;
			    padding: 13px;
			    height: 56px;
			    border: 2px solid #f3f4f5;
			    box-sizing: border-box;
			    border-radius: 8px;
			    display: flex;
					align-items: center;
					justify-content: center;
				}

				.previewImg {
					width: 100%;
					margin: 10px auto 0;
				}
			}

			.addproduct_btn {
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				width: 100%;
				color: #fff;
		    font-size: 1em;
		    outline: 0;
		    font-weight: 700;
    		letter-spacing: 0.025em;
    		padding: 13px;
		    height: 56px;
		    border: 2px solid #f3f4f5;
		    box-sizing: border-box;
		    border-radius: 8px;
				font-family: 'Montserrat', sans-serif;
				background: #6b21a8;
			}
		}
	}
