
.homeProductContainer {
	width: 200px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(50,50,93,0.15),0 1px 0 rgba(0,0,0,0.02);
	cursor: pointer;
	padding: 0;margin: 0;
	transition: all .2s;
	display: grid;
	height: fit-content;

	
	img {
		width: 100%;
		height: 210px;
		border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 0;
	}

	.aa {
		padding: 5px 10px 10px;
		margin: 0;
		border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

		h3, p {
			margin: 0;
		}

		h3 {
			font-size: 14px;
		}

		p {
			font-size: 13px;
		}
	}

}

.homeProductContainer:hover {
	border-radius: 8px;

	.aa {
		color: white;
		background: #6b21a8;
	}
}

.itemImg:hover {
	cursor: pointer;
}


@media only screen and (min-width: 452px) {
	.homeProductContainer {
		width: 100%;
		height: fit-content;
		margin-left: 0;

		img {
			width: 100%;
			height: 210px;
		}

		.aa {
			padding: 5px 10px 10px;

			h3, p {
				margin: 0;
				font-size: 14px;
			}
		}
	}
}
