.mainWrapper {
  position: relative;
  padding-bottom: 50px;
}

.hero {
   position: relative;
   height: 100vh;

   	.nav {
		position: fixed;
		width: 100%;
		z-index: 5;

		.upper_nav {

			.logo {
			  color: #000;
			}

			.upper_nav_svgs {

		    .cls-1, circle {
		      fill:none;
		      stroke:#000;
		      stroke-miterlimit:10;
		      stroke-width:2px
		    }
		  }
		}
	}
}

.mainContentWrapper {
	padding: 20px 0 100px;


	.freshDrops_horizontalDisplay {
		 padding: 20px 0 20px 20px;

		.itemSlider {
			margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(8, 250px);
      grid-column-gap: 20px;
      overflow-x: scroll;
      padding-bottom: 20px;

      .FreshDrops_viewAllProducts {
      	width: 250px;
      	height: 375px;
      	display: grid;
      	place-items: center;

      	.content {
      		border: 1px solid #e3e3e3;
      		padding: 20px;
      	}
      	
      }
		}
	}

	.contentSales {
		margin-top: 30px;
		width: 100%;

		img {
			width: 100%;
		}
	}
}