@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.loginFormWrapper {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding-bottom: 45px;

	.Toastify__toast--success {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
		background: #6b21a8;
	}

	.Toastify__toast--error {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
	}

	.Toastify__toast-body {
		padding: 5px 15px;

	}

	.nav {
		position: fixed;
		width: 100%;
		background-color: white;
		z-index: 5;

		.upper_nav {
			border-bottom: 1px solid #e8e8e1;
			background: white;

			.upper_nav_svgs {

		      .icon .cls-1, circle {
		        fill:none;
		        stroke:#000;
		        stroke-miterlimit:10;
		        stroke-width: 4px
		      }
		    }
		}
	}

	.loginContentWrapper {
		z-index: 4;
		padding: 90px 20px 80px;
		height: fit-content;

		img {
			width: 80%;
			display: flex;
			justify-content: center;
			margin: 0 auto 20px;
		}

		.loginWithGoogle {

			cursor: pointer;
			display: flex;
			display: none;
			position: relative;
			border: 1px solid #e8e8e1;
			padding: 10px 12px;
			margin-bottom: 10px;


			svg {
				height: 20px; 
				width: 20px; 
				display: block;
				position: absolute;
				left: 12px;
			}

			.text {
				width: 100%;
				display: grid;
				place-items: center;
			}
		}

		.orSep {

			display: grid;
			grid-template-columns: 1fr 50px 1fr;
			margin: 20px 0;

			.or {
				text-align: center;
			}

			span {
				border-bottom: 1px solid #e8e8e1;
				margin-bottom: 6px;
			}
		}

			.createAcctBtn {
				cursor: pointer;
				width: 100%;
				color: #6b21a8;
				text-align: center;
				background: #fff;
		    font-size: 1em;
		    outline: 0;
		    border: 2px solid #6b21a8;
		    font-weight: 700;
    		letter-spacing: 0.025em;
    		margin-bottom: 30px;
    		padding: 13px;
		    height: 56px;
		    box-sizing: border-box;
		    border-radius: 8px;
		    display: flex;
				align-items: center;
				justify-content: center;
			}



		form {

			.terms {
				font-size: 13px;
				margin-bottom: 30px;

				input {
					cursor: pointer;
				}
			}

			.loginSignIpBtn {
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				width: 100%;
				color: #fff;
				background: #6b21a8;
				padding: 11px 20px;
		    font-size: 1em;
		    outline: 0;
		    font-weight: 700;
    		letter-spacing: 0.025em;
    		margin-bottom: 10px;
    		padding: 13px;
		    height: 56px;
		    border: 2px solid #f3f4f5;
		    box-sizing: border-box;
		    border-radius: 8px;
		    font-family: 'Montserrat', sans-serif;
    		
			}

			.loginEmailWrapper {
				display: grid;

				label {
					margin-bottom: 10px;
					font-size: 14px;
			    font-weight: 300;
			    line-height: 20px;
			    color: #000;
			    clear: both;
			    margin-bottom: .25em;

				}

				input {
					width: 100%;
			    max-width: 100%;
			    outline: 0;
			    margin-bottom: 15px;
			    font-size: 14px;
			    font-weight: 300;
			    line-height: 20px;
			    padding: 13px;
			    height: 56px;
			    border: 2px solid #f3f4f5;
			    box-sizing: border-box;
			    border-radius: 8px;
				}


				.loginPassOptions {
					display: flex;
					justify-content: space-between;

					.ForgotPass {
						font-size: 0.75em;
					}
				}
			}
		}
	}
}


@media only screen and (min-width: 452px) {
	.loginFormWrapper {
		padding-bottom: 0;
	}

	.loginContentWrapper {
		z-index: 4;
		padding: 100px 20px 80px;
		height: fit-content;
		width: 400px;
		margin: 0 auto;
	}

}