
.loginFormWrapper {
	position: relative;
	padding-bottom: 45px;

	.nav {
		position: fixed;
		width: 100%;
		background-color: white;
		z-index: 5;

		.upper_nav {
			border-bottom: 1px solid #e8e8e1;

			.logo {
				font-weight: 700;
			  color: red;
			}

			.upper_nav_svgs {

		    .cls-1, circle {
		      fill:none;
		      stroke:#000;
		      stroke-miterlimit:10;
		      stroke-width:2px
		    }
		  }
		}
	}

	.loginContentWrapper {
		z-index: 4;
		padding: 90px 20px 80px;
		height: fit-content;

		h1 {
			font-size: 1.3em;
			margin-top: 0;
		}

		.loginWithGoogle {
			display: flex;
			position: relative;
			border: 1px solid #e8e8e1;
			padding: 10px 12px;
			margin-bottom: 10px;


			svg {
				height: 20px; 
				width: 20px; 
				display: block;
				position: absolute;
				left: 12px;
			}

			.text {
				width: 100%;
				display: grid;
				place-items: center;
			}
		}

		.orSep {
			display: grid;
			grid-template-columns: 1fr 50px 1fr;
			margin-bottom: 20px;

			.or {
				text-align: center;
			}

			span {
				border-bottom: 1px solid #e8e8e1;
				margin-bottom: 6px;
			}
		}



		form {

			.terms {
				font-size: 13px;
				margin-bottom: 30px;

				input {
					cursor: pointer;
				}
			}

			.createAcctBtn {
				font-size: 0.75em;
				margin-bottom: 10px;
			}

			.loginSignIpBtn {
				cursor: pointer;
				width: 100%;
				color: #fff;
				background: #f01737;
				padding: 11px 20px;
		    font-size: 1em;
		    outline: 0;
		    border: 0;
		    border-radius: 0;
		    font-weight: 700;
    		letter-spacing: 0.025em;
    		margin-bottom: 30px;
    		
			}

			.loginEmailWrapper {
				display: grid;

				label {
					margin-bottom: 10px;
					font-size: 0.75em;

				}

				input {
					width: 100%;
					border: 1px solid #e8e8e1;
			    max-width: 100%;
			    padding: 8px 10px;
			    font-size: 16px;
			    outline: 0;
			    margin-bottom: 30px;
			    border-radius: 0;
				}

				input:focus {
					border-color: black; 
				}


				.loginPassOptions {
					display: flex;
					justify-content: space-between;

					.ForgotPass {
						font-size: 0.75em;
					}
				}
			}
		}
	}
}