/* navigation */

.nav {
  background-color: transparent;
}

.logo {
  color: white;

  img {
    cursor: pointer;
    Width: 100px;
  }
}

.upper_nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .upper_nav_svgs {
    display: flex;
    justify-content: space-between;

    svg {
      margin: 0 10px;
      cursor: pointer;
    }

    .icon .cls-1, circle {
      fill:none;
      stroke:#000;
      stroke-miterlimit:10;
      stroke-width:2px
    }

    .icon-user {
      display: none;
    }
  }

}



.navChangeUpperNavBgOnScroll {
    background-color: white;
    border-bottom: 1px solid #e8e8e1;
  }

.lower_nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin: 0 auto;
  background-color: white;

  svg {
    cursor: pointer;
  }
}

.navOverlay-clickOutside {
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  opacity: .5;
  background-color: #000;
  padding-top: 100px;
}

.clickOutsideShow {
  width: 100%;
}

.navOverlay-sidebar {
  z-index: 5;
  position: fixed;
  top: 0;
  right: -350px;
  height: 100vh;
  width: 300px;
  opacity: 1;
  background-color: white;
  transition: all .4s;

  .closeNavBtn {
    width: 100%;
    display: grid;
    place-items: end;

    .cls-1{
      fill:none;
      stroke:#000;
      stroke-miterlimit:10;
      stroke-width:2px
    }
  }

  .navOptions {
    margin-top: 30px;

    .navOp {
      padding: 10px;
      margin-bottom: 5px;
      cursor: pointer;
    }
  }

  .admin_logout {
    border: 1px solid #fafbfc;
    background: #d73a49;
    color: white;
    padding: 5px 16px;
    border-radius: 6px;
    font-size: 14px;
    width: fit-content;
    margin: 50px 10px;
    cursor: pointer;
  }
}

.sidebarShow {
  right: 0;
  padding: 20px 10px;
}


// seach component
.searchWrapper {
  z-index: 5;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: -100px;
  padding: 20px;
  display: flex;
  transition: all .3s ease;

  .icon .cls-1, circle {
    fill:none;
    stroke:#000;
    stroke-miterlimit:10;
    stroke-width:2px
  }

  input {
    outline: 0;
    border: 0;
    width: 100%;
    font-size: 16px;
    margin-left: 10px;
    padding-top: 3px ;
  }

  #search::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

.showSearch {
  top: 0;
}


// cart overlay
.cartOverlay {
  z-index: 5;
  position: fixed;
  top: 0;
  right: -350px;
  height: 100vh;
  width: 300px;
  opacity: 1;
  background-color: white;
  transition: all .4s;

  .closeCartOverlayBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .cls-1{
      fill:none;
      stroke:#000;
      stroke-miterlimit:10;
      stroke-width:2px
    }
  }

  hr {
    opacity: .1;
  }

  .cartItems {
    padding: 20px 10px;
    height: 80%;
    overflow-y: scroll;

    .empty_lbl {
      width: fit-content;
      margin: 0 auto;
    }

    .bucket {
      position: relative;

      .itemCart {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 120px 1fr;


        .itemCart_details {
          padding: 0 10px;
          position: relative;

          .aa {
            margin-bottom: 8px;
          }

          .changequan {
            position: relative;
            bottom: -15px;
            border: 1px solid #e3e3e3;
            width: fit-content;
            display: grid;
            grid-template-columns: 30px 30px 30px;
            place-items: center;
            align-items: center;
            padding: 3px 5px;

            div {
              height: 100%;

            }
          }
        }

        img {
          width: 100%;
          height: 100px;
        }
      }

      .review_cart {
        position: fixed;
        bottom: 20px;
        width: 65%;
        border-top: 1px solid #e3e3e3;

        .review_cart_head {
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
        }

        .review_cartBtn {
          width: 100%;
          text-align: center;
          padding: 10px;
          color: white;
          background: #6b21a8;
        }
      }
    }  
  }
}

.showCartOverlay {
  right: 0;
  padding: 20px 10px;
}




@media only screen and (min-width: 452px) {
  .nav {

    .upper_nav {
      

      .upper_nav_svgs {

        .icon-user {
          display: block;
        }
      }

    }

    .lower_nav {
      display: none;
    }
  }
}
