@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.admin_orders {
	font-family: 'Montserrat', sans-serif;

	.admin_orders_content {
		padding: 40px 20px;

			.orders_wrapper {
				display: grid;
				grid-gap: 8px;
				
				.order {
					display: grid;
					grid-template-columns: 80px 1fr 80px;
					font-size: 15px;
					

					div {
						padding: 4px 5px;
						font-size: 11px;
						text-align: center;
					}

					.status {
						width: 90%;
						border-radius: 4px;
						place-self: center;
						border: 1px solid #FFBB38;

  					color: #FFBB38;
					}

					.delivered {
						background: #6b21a8;
						border: 1px solid #6b21a8;
						color: white;
					}

					.orderEmail {
						place-self: start;
						margin-left: 5px;
					}
				}

				.head {
					background: white;
					border: 1px solid #e3e3e3;

					div {
						font-size: 13px;
						padding: 5px;
						border-left: 1px solid #e3e3e3;
						border-right: 1px solid #e3e3e3;
					}
				}
			}
		}
}