@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// all products

.products {
	font-family: 'Montserrat', sans-serif;


	.nav {
	  background-color: transparent;
	}

	.upper_nav {
	  display: flex;
	  justify-content: space-between;
	  padding: 20px;
	  background-color: white;
	border-bottom: 1px solid #e8e8e1;
	    background: white;

    .upper_nav_svgs {

      .icon .cls-1, circle {
        fill:none;
        stroke:#000;
        stroke-miterlimit:10;
        stroke-width: 4px
      }
    }


	}



	.products_grid {
		padding: 20px 10px 80px;

		h3 {
			color: #000;
		}

		.p_con {
			border-radius: 5px;
			border-color: transparent;
		box-shadow: 0 1px 3px rgba(50,50,93,0.15),0 1px 0 rgba(0,0,0,0.02);
		img {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		.qq {
			padding: 10px;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;

			h3 {
				margin: 0;
				font-size: 14px;
			}

			p {
				margin: 0;
				font-size: 13px;
			}
		}
		}
	}
}


// specific product
.product {
	padding-bottom: 100px;
	font-family: 'Montserrat', sans-serif;

	.Toastify__toast--success {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
		background: #6b21a8;
	}

	.Toastify__toast--error {
		width: 80%;
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 5px;
		border-radius: 6px;
	}

	.Toastify__toast-body {
		padding: 5px 15px;

	}

	.nav {
	  background-color: transparent;
	}

	.upper_nav {
	  display: flex;
	  justify-content: space-between;
	  padding: 20px;
	  background: white;
	border-bottom: 1px solid #e8e8e1;

	.upper_nav_svgs {

      .icon .cls-1, circle {
        fill:none;
        stroke:#000;
        stroke-miterlimit:10;
        stroke-width: 4px
      }
    }
		}

	.product_contents {
		width: 90%;
		height: fit-content;
		padding: 0;
		border-radius: 8px;
		margin: 20px auto;
	border-color: transparent;
	box-shadow: 0 1px 3px 0 RGB(27 36 72 / 16%), 0 6px 12px 0 RGB(27 36 72 / 8%);
	


		img {
			width: 100%;
			max-height: 320px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}


		.product_details {
			padding: 10px 20px 20px;

			h2 {
				margin: 0 0 5px 0;
				font-family: 'Montserrat', sans-serif;
				font-size: 20px;
			}

			.sp {
				display: flex;
				justify-content: space-between;
				margin: 0 0 15px 0;

				.product_price {
					font-size: 15px;
				}

				.stock {
					font-size: 13px;
				}
			}

			.description {
				margin-bottom: 15px;
				padding-bottom: 10px;
				border-bottom: 1px solid #e3e3e3;
			}

			.operate {

				.addtocart_btn {
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					width: 100%;
					color: #fff;
					background: #6b21a8;
					padding: 11px 20px;
				font-size: 1em;
				outline: 0;
				font-weight: 700;
				letter-spacing: 0.025em;
				margin: 15px 0 0;
				padding: 13px;
				height: 56px;
				border: 2px solid #f3f4f5;
				box-sizing: border-box;
				border-radius: 8px;
				}

				.quanlabel {
					font-size: 12px;
					width: 101px;
					text-align: center;
					margin-bottom: 5px;
				}


				.changequan {
					border: 1px solid #e3e3e3;
					width: fit-content;
					display: grid;
					grid-template-columns: 30px 1fr 30px;
					place-items: center;
		  		align-items: center;
					font-size: 14px;

					div {
						padding: 5px 5px;

						svg {
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}

					.numQuan {
						padding: 5px 15px;
						border-left: 1px solid #e3e3e3;
						border-right: 1px solid #e3e3e3;
					}
				}
			}

		}
	}
	
}



@media only screen and (min-width: 452px) {
	.products {


		.products_grid {
			padding: 40px 40px 80px;

			h3 {
				color: #000;
			}

			.p_con {
				transition: all .2s ease-in-out;
				border-radius: 5px;
				border-color: transparent;
			box-shadow: 0 1px 3px 0 RGB(27 36 72 / 16%), 0 6px 12px 0 RGB(27 36 72 / 8%);
			transition: all .2s;
			
			img {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				cursor: pointer;
			}

			.qq {
				background: white;
				padding: 10px;

				h3 {
					margin: 0;
					font-size: 15px;
				}

				p {
					margin: 0;
					font-size: 14px;
				}
			}
			}

			.p_con:hover {

				.qq {
					color: white;
					background: #6b21a8;

					h3 {
						color: white;
					}
				}
			}
		}
	}


	// specific product
	.product {
		padding-bottom: 100px;
		font-family: 'Montserrat', sans-serif;

		.Toastify__toast--success {
			width: 80%;
			position: absolute;
			right: 10px;
			top: 10px;
			padding: 5px;
			border-radius: 6px;
			background: #6b21a8;
		}

		.Toastify__toast--error {
			width: 80%;
			position: absolute;
			right: 10px;
			top: 10px;
			padding: 5px;
			border-radius: 6px;
		}

		.Toastify__toast-body {
			padding: 5px 15px;

		}

		.nav {
		  background-color: transparent;
		}

		.upper_nav {
		  display: flex;
		  justify-content: space-between;
		  padding: 20px;
		  background-color: white;
		border-bottom: 1px solid #e8e8e1;
		}

		.product_contents {
			width: 370px;
			height: fit-content;
			border-radius: 8px;
			margin: 20px auto;
			padding: 0;

			img {
				width: 100%;
				margin: 0;
			}


			.product_details {
				padding: 20px;

				h2 {
					margin: 0 0 10px 0;
					font-family: 'Montserrat', sans-serif;
				}

				.sp {
					display: flex;
					justify-content: space-between;
					margin-bottom: 20px;
					padding-bottom: 15px;

					.product_price {
						font-size: 18px;
					}

					.stock {
						font-size: 14px;
					}
				}

				.operate {

					.addtocart_btn {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						width: 100%;
						color: #fff;
						background: #6b21a8;
						padding: 11px 20px;
					font-size: 1em;
					outline: 0;
					font-weight: 700;
					letter-spacing: 0.025em;
					margin: 20px 0 0;
					padding: 13px;
					height: 56px;
					border: 2px solid #f3f4f5;
					box-sizing: border-box;
					border-radius: 8px;
					}

					.quanlabel {
						font-size: 14px;
						width: 112px;
						text-align: center;
						margin-bottom: 5px;
					}


					.changequan {
						border: 1px solid #e3e3e3;
						width: fit-content;
						display: grid;
						grid-template-columns: 30px 30px 30px;
						place-items: center;
			  align-items: center;
						padding: 5px 10px;
						font-size: 14px;


						div {
							height: 100%;

						}
					}
				}

			}
		}
	}
}